<div class= "empty-space container">
  <br>
  <h4>Want this hamper?</h4>
  <h5>Send a friendly request message below <i class= "material-icons icon-size-md">mood</i></h5>
  <%= render 'form', request: @request %>
</div>
<div class= "login-top">
</div>
