<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Temporary Logout Link.  -->
  <% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% else %>
  <% end %>
<!-- Remove when styling  -->
