// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-button {
  margin-right: 20%;
  opacity: 0.5;
  transition: .50s ease-in-out;
}

.create-button:hover {
  opacity: 1;
}
