// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index page
.product-all {
  background: #F5F3F7;
}

.top-background {
  background-image: url("http://res.cloudinary.com/dabq7kxo6/image/upload/v1493017597/tealpattern_cwcm6c.jpg");
}

.intro-card {
  padding: 15% 5% 15% 5%;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  background: #F5F3F7;
}

.bold {
  font-weight: bold;
}

.icon-size-md {
  font-size: 36px;
}

.icon-size-sm {
  font-size: 26px;
}

.smaller-text {
  font-size: 1em;
}

.resize-img {
  height: 400px;
  filter: grayscale(30%)
}

.card-image {
  height: 400px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


// Show page
.carousel-slider {
    height: 400px !important;
}

.waves-purple {
  background-color: #7e57c2;
}

// New Page
.new-hamp {
  padding: 8px;
}

.login-top2 {
  height: 60vh;
  background-image: url("http://res.cloudinary.com/dabq7kxo6/image/upload/v1493017597/tealpattern_cwcm6c.jpg");
}

  @media #{$medium-and-up} {
    .intro-card {
      padding: 5%;
      font-size: 1.5em;
      align-items: left;
      text-align: left;
      background: #F5F3F7;
    }

    .carousel-slider {
        height: 400px !important;
        width: 50% ;
    }

    .card-width {
      width: 380px;
    }

  }
