// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-card {
  padding: 15% 5% 15% 5%;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.icon-size-md {
  font-size: 36px;
}

.icon-size-sm {
  font-size: 26px;
}

.smaller-text {
  font-size: 1em;
}

.resize-img {
  height: 400px;
  filter: grayscale(30%)
}

.card-image {
  height: 400px;
}
