// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media #{$small-and-down} {
  .login-page {
    align-items: center;
  }

  .login-top {
    height: 50vh;
    background-image: url("http://res.cloudinary.com/dabq7kxo6/image/upload/v1493017597/tealpattern_cwcm6c.jpg");
  }

  .hands-img {
    margin-bottom: 5%;
  }

  .top-heading  {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .top-heading-sign {
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .form-wrapper {
    margin-top: -40%;
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: white;
  }

  .empty-space {
    height: 40vh;
    z-index: 99;
    position: relative;
  }

  .form-text {
    font-size: 1em;
  }

  .bottom-links {
    margin-top: 10%;
    font-size: 1em;
  }

  // Profile page (users/show view)
  .top-profile-wrapper {
    margin-top: 10%;
  }

  .bigger-text {
    font-size: 1.5em;
  }

  .profile-text-margin {
    margin-bottom: -15px;
  }

  .profile-msg {
    margin-top: 15%;
  }

  .smaller-text {
    font-size: 0.9em;
    color: #bdbdbd;
  }

  .badges-display {
    margin-top: -8%;
  }

  .rating-wrapper {
    margin-left: 10px;
  }

  // Converation/Messages
  .convo-wrapper {
    padding-left: 8%;
  }

  .msg-wrapper {
    margin-top: 10%;
  }

  // User edit
  .red {
    color: red;
  }
}


  // @media only screen and (min-width : 601px) {
@media #{$medium-and-up} {
    .login-top {
      height: 50vh;
      background-image: url("http://res.cloudinary.com/dabq7kxo6/image/upload/v1493017597/tealpattern_cwcm6c.jpg");
    }

  .top-heading  {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .form-wrapper {
    margin-top: -8%;
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: white;
  }

  .bottom-links {
    margin-top: 0%;
  }

  .top-heading-sign {
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .small-padding {
    padding: 20px;
  }

  .bigger-text {
    font-size: 2.0em;
  }

}
