// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .login-page {
    align-items: center;
  }

  .login-top {
    height: 50vh;
    background-image: url(asset-path('tealpattern.jpg'));
  }

  .top-heading  {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .top-heading-sign {
    margin-top: 20%;
    margin-bottom: 10%;
  }


  .form-wrapper {
    margin-top: -40%;
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: white;
  }

  .empty-space {
    height: 40vh;

  }

  .form-text {
    font-size: 1em;
  }

  .bottom-links {
    margin-top: 10%;
    font-size: 1em;
  }


  // @media only screen and (min-width : 601px) {
  @media #{$medium-and-up} {

  .top-heading  {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .form-wrapper {
    margin-top: -8%;
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: white;
  }

  .bottom-links {
    margin-top: 0%;
  }

  .top-heading-sign {
    margin-top: 5%;
    margin-bottom: 0%;
  }
 }
