// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .login-page {
    align-items: center;
  }

  .top-heading  {
    margin-top: 20%;
  }

  .form-wrapper {
    margin-top: 40%;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .empty-space {
    // height: 50vh;
  }

  .form-text {
    font-size: 1em;
  }

  .bottom-links {
    margin-top: 10%;
    font-size: 1em;
  }
