<div class= "empty-space container">
  <br>
  <div class= "card new-hamp">
    <h5>Edit your hamper</h5>
    <br>
  <%= render 'form', product: @product %>
  </div>
</div>
<div class= "login-top2">
</div>
